<!doctype html>
<html lang="en" ng-app="koality">
<head>
<meta charset="utf-8">
<title>Koality</title>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans|Source+Code+Pro|Black+Ops+One' rel='stylesheet' type='text/css'>
<style type="text/css">[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>

<%- cssFiles %>

</head>
<body style="background-image:url('/img/backgrounds/irongrip<%- fileSuffix %>.png');">

	<div id="main">
		<div id="headerContanier">
			<div id="header" ng-controller="Header">
				<span id="headerTitle" ng-click="visitHome()" unselectable>Koality</span>
				<div id="headerOptions">
					<span class="headerOption" ng-show="!loggedIn" ng-click="visitLogin()" unselectable>Login</span>
					<span class="headerOption" ng-show="loggedIn" ng-click="profileClick()" unselectable ng-cloak>{{user.firstName}} {{user.lastName}}
						<dropdown alignment="right" dropdown-options="profileDropdownOptions" dropdown-option-click="profileDropdownOptionClick(dropdownOption)" />
					</span>
					<span class="headerOption" ng-show="loggedIn" ng-click="repositoryClick()" unselectable>Repositories
						<dropdown alignment="right" dropdown-options="repositoryDropdownOptions" dropdown-option-click="repositoryDropdownOptionClick(dropdownOption)" />
					</span>
					<span class="headerOption" ng-click="visitAbout()" unselectable>About</span>
				</div>
			</div>
		</div>

		<div id="contentContainer" ng-view></div>
	</div>

<script>
	var fileSuffix = '<%- fileSuffix %>'
	var csrfToken = '<%- csrfToken %>'
	var accountInformation = {email: '<%- email %>', firstName: '<%- firstName %>', lastName: '<%- lastName %>'}
</script>

<%- jsFiles %>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-37984512-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>