<!DOCTYPE html>
<html>
<head>
<title>Koality</title>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans|Source+Code+Pro|Black+Ops+One' rel='stylesheet' type='text/css'>
{{{cssFiles}}}
</head>
<body>
<script>
	var filesSuffix = '{{filesSuffix}}'
	var csrfToken = '{{csrfToken}}'
	var accountInformation = {userId: '{{userId}}', email: '{{email}}', firstName: '{{firstName}}', lastName: '{{lastName}}'}
</script>
{{{jsFiles}}}
</body>
</html>