<!DOCTYPE html>
<html lang="en" ng-app>
<head>
<meta charset="utf-8">
<title>Koality</title>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans|Source+Code+Pro|Black+Ops+One' rel='stylesheet' type='text/css'>
{{{cssFiles}}}
</head>
<body style="background-image:url('/img/backgrounds/irongrip{{filesSuffix}}.png');">

	<div id="main">
		<div id="header" ng-controller="Header">
			<span id="headerTitle">Koality</span>
			<span class="headerOption" ng-repeat="option in options">blah: {{option.title}}</span>
		</div>

		<div id="content"></div>
	</div>

<script>
	var filesSuffix = '{{filesSuffix}}'
	var csrfToken = '{{csrfToken}}'
	var accountInformation = {userId: '{{userId}}', email: '{{email}}', firstName: '{{firstName}}', lastName: '{{lastName}}'}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
{{{jsFiles}}}
</body>
</html>