<!DOCTYPE html>
<html>
<head>

<title>Love</title>

{{{cssFiles}}}

</head>
<body>
	
<script>
	var csrfToken = '{{csrfToken}}'
	var accountEmail = '{{userEmail}}'
	var accountFirstName = '{{userFirstName}}'
	var accountLastName = '{{userLastName}}'
</script>

{{{jsFiles}}}

</body>
</html>